*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E4E1D5;
    font-family: "Inter Tight", sans-serif;
    color: #282E31;
    font-size: 1rem;
    cursor: url('whole-web-curser.svg'), auto;

}
a{
    cursor: url('links-curser.png') 0 0, auto;
    text-decoration: none;
    color: #282E31;

}
h1,h2,h3,h4,h5,h6{
      font-family: "Syne", sans-serif;
}
.container-large{
    padding: 0 auto;
    max-width: 90vw;
    margin: 0 auto;
}
/* Navbar */

.navbar{
    padding: 0.7rem 0;
    border-bottom: #282E31 solid 2px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.navbar-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    

.logo-wrapper{
    text-transform:uppercase ;
}
.logo-head-wrapper{
    display: flex;
    align-items: center;
    gap: 3px;
}
.logo-tittle{
    font-size: 1.2rem;
    font-weight: 500;
}
.main-tittle{
    font-size: 1.28rem;
    font-weight: 800;
    line-height: 0.7;
}
.lines-wrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2.5px;
}
.lines{
    width: 60px;
    height: 2px;
    max-height: 2px;
    background-color: black;
}
.color-ba4f5e{
    background-color:  #ba4f5e;
}
.color-ddab45{
    background-color:  #ddab45;
}
.color-4f52be{
    background-color:  #4f52be;
}
.links-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.links{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;

}

/*hero-section*/
.scroll-wrapper{
    height: 500vh;
}
.hero-contant-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}
.hero-tittle-wrapper{
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
}
.hero-inner-wrapper{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}